form {
   font-family: sans-serif;
   width: 900px;
   background-color: lightsalmon;
   border:1px solid black;
}
label{
  font-size: 20px;
}
li{
  font-size: 15px;
}
table,td,th{
  border: 1px solid black;
  background-color:white;
  border-collapse: collapse;
  font-size: 15px;
}
.valorPercapita{
	text-align:center;
	color:red;
}
input{
  width: 120px;
}
