form {
   font-family: sans-serif;
   font-size: 12px;
   width: 900px;
   background-color: lightblue;
   border:1px solid black;
}
ul {
   border: 1px;
}
li {
   background-color: #CCC;
   color:blue;
   width: 350px;
}
table{
  border: 1px solid black;
}
.valorPercapita{
	text-align:center;
	color:red;
}